openapi: 3.0.3
info:
  title: Temple Health FHIR R4 Allergy Intolerance Metadata API
  description: OpenAPI surface for the Temple Health FHIR R4 endpoint, Temple University Health System's CMS Interoperability and Patient Access (CMS-9115-F) compliant HL7 FHIR Release 4.0.1 API powered by Epic's August 2025 release. Exposes USCDI-aligned clinical resources to third-party patient-access applications under SMART on FHIR / OAuth 2.0. Only a subset of the 80+ supported FHIR resource types is documented here — refer to the live CapabilityStatement for the full surface.
  version: 4.0.1
  contact:
    name: Epic on FHIR
    url: https://fhir.epic.com/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
servers:
- url: https://epicaccess.templehealth.org/FhirProxyPrd/api/FHIR/R4
  description: Temple Health FHIR R4 production endpoint
security:
- smartOnFhir:
  - patient/Patient.read
  - patient/Observation.read
  - patient/Condition.read
  - patient/Encounter.read
  - patient/MedicationRequest.read
  - patient/AllergyIntolerance.read
  - patient/DocumentReference.read
  - launch
  - openid
  - fhirUser
  - offline_access
tags:
- name: Metadata
  description: FHIR conformance and SMART configuration discovery.
paths:
  /metadata:
    get:
      tags:
      - Metadata
      summary: Get FHIR Capability Statement
      description: Returns the FHIR CapabilityStatement describing this server's supported resources, search parameters, and security.
      operationId: getMetadata
      responses:
        '200':
          description: FHIR CapabilityStatement resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
  /.well-known/smart-configuration:
    get:
      tags:
      - Metadata
      summary: Get Smart Configuration
      description: Returns the SMART App Launch configuration document describing OAuth 2.0 endpoints, scopes, and capabilities.
      operationId: getSmartConfiguration
      responses:
        '200':
          description: SMART configuration JSON document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartConfiguration'
components:
  schemas:
    SmartConfiguration:
      type: object
      properties:
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        scopes_supported:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string
    CapabilityStatement:
      type: object
      description: HL7 FHIR CapabilityStatement resource.
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        fhirVersion:
          type: string
          example: 4.0.1
        status:
          type: string
        software:
          type: object
        rest:
          type: array
          items:
            type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR / OAuth 2.0 with PKCE for patient-facing and provider-facing app launches.
      flows:
        authorizationCode:
          authorizationUrl: https://epicaccess.templehealth.org/FhirProxyPrd/oauth2/authorize
          tokenUrl: https://epicaccess.templehealth.org/FhirProxyPrd/oauth2/token
          scopes:
            launch: EHR launch context for provider-launched apps
            openid: OpenID Connect authentication
            fhirUser: Identity of the user launching the app
            offline_access: Refresh token for long-lived access
            patient/Patient.read: Read the launching patient's demographics
            patient/Observation.read: Read the launching patient's observations
            patient/Condition.read: Read the launching patient's conditions
            patient/Encounter.read: Read the launching patient's encounters
            patient/MedicationRequest.read: Read the launching patient's medication requests
            patient/AllergyIntolerance.read: Read the launching patient's allergies
            patient/DocumentReference.read: Read the launching patient's documents
            user/Patient.read: Read Patient as the launching user
            system/Patient.read: System-level Patient read (Bulk Data)
externalDocs:
  description: HL7 FHIR R4 Specification
  url: https://hl7.org/fhir/R4/
